*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    background-color: gainsboro;
    height: 100%;
    width: 100%;
}

body{
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Main Chat Container */
.main{
    width: 400px;
    height: 500px;
    border-radius: 20px;
    padding: 20px 0 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0,0,0,0.8);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.3);
}

/* Scrollbar */
::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-track{
    border-radius: 20px;
    background-color: black;
}

::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background-color: rgb(151, 118, 75);
}

/* Chat Box */
.box{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 10px;
    position: relative;
}

/* My Message */
.myMsg{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px;
}

.myMsg p{
    border-radius: 15px 15px 0px 15px;
    background-color: grey;
    width: 50%;
    color: #fff;
    padding: 8px;
    font-size: 16px;
    word-wrap: break-word;
}

/* Bot Message */
.botMsg{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
}

.botMsg p{
    border-radius: 15px 15px 15px 0px;
    background-color: rgb(26, 25, 25);
    width: 90%;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    word-wrap: break-word;
}

/* Welcome */
#welcome{
    color: rgba(220, 214, 214);
    text-align: center;
    margin: 150px auto 0 auto;
    font-size: 30px;
    width: 100%;
}

/* New Chat */
.new-chat{
    margin-right: auto;
    margin-left: 10px;
    color: rgba(255, 255, 255, 0.9);
    font-size: 18px;
    cursor: pointer;
    padding: 5px;
}

.new-chat span{
    font-size: 17px;
    margin-left: 5px;
}

/* Images */
.myImg,
.geminiImg{
    width: 35px;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50%;
}

.myImg{
    margin-left: 10px;
}

.geminiImg{
    margin-right: 10px;
}

/* Input Section */
.input{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

input{
    font-size: 18px;
    padding: 6px 10px;
    border-radius: 5px;
    width: 70%;
    background-color: rgb(173, 130, 76);
    border: none;
    color: white;
}

input::placeholder{
    color: #fff;
    font-size: 16px;
}

input:focus{
    outline: none;
    border: 1px solid rgba(245, 222, 179, 0.5);
}

/* Arrow Button */
.arrow{
    font-size: 20px;
    padding: 6px;
    border-radius: 50%;
    background-color: white;
    color: black;
    margin-left: 10px;
    cursor: pointer;
}

/* Responsive */
@media screen and (max-width: 410px){
    .main{
        width: 90%;
    }
}
